@tailwind base;
@tailwind components;
@tailwind utilities;
@import ""

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  max-height:100vh;

}
body {
  max-height:100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.trux{
  margin:1rem;
}
.flex-wrap{
  flex-wrap:wrap !important;
}

.cadre{
  overflow:hidden !important;
  height:80%
}
.nav{
  z-index:999 !important;
}